# 파이썬 기초
## 4일차
### for 와 list
- shift-enter : 실행후 아래에 창을 만든다
- ctrl-enter : 실행후 그 창에 머문다
- a : 위에 창을 만든다
- b : 아래에 창을 만든다
- dd : 창을 지운다
- Markdown : 문서편집기

In [4]:
print('Hello, world')

Hello, world

In [9]:
l = [[1,2,3], [4,5,6], [7,8,9]]
l2 = []

for i in l:
    l2.append(i[0])
    
print(l2)

[1, 4, 7]

In [10]:
l = [[1,2,3], [4,5,6], [7,8,9]]
l2 = []

for i in l:
    l2.append(i[1])
    
print(l2)

[2, 5, 8]

In [17]:
for i in [1,2,3]:
    print(i)
    print(i**3)

1
1
2
8
3
27

In [18]:
수염 = True

if 수염:
    print('고양이')
else:
    print('강아지')

고양이

In [21]:
n = 5

if n<5:
    print('5보다 작음')
else:
    print('5보다 크거나 같음')

5보다 크거나 같음

> 조건문은 조건식이 있다

In [32]:
l = [1,2,3,4,5]

for i in l:
    if i%2 == 1:
        print(i, end=' ')

1 3 5

In [33]:
l[::2]

[1, 3, 5]

In [29]:
sum([1,2,3,4,5])

15

In [31]:
a = [[1,2], [3,4], [5,6]]

for i in a:
    for j in i:
        if j%2==1:
            print(i,j)

[1, 2] 1
[3, 4] 3
[5, 6] 5

In [34]:
'*'*3

'***'

In [35]:
'*'*100

'****************************************************************************************************'

In [36]:
' '*3 + '*'*2

'   **'

## 5일차

### 연습문제 (20200710)
> 10분 동안 아래 문제를 풀어보세요. (for 와 if 사용)

```
data = [['홍길동',22,'서울'],
	['장길산',35,'평양'],
	['둘리',5,'우주']
	['신사임당',60,'강릉']]

위의 데이터에서 나이가 30보다 어린 학생들을 뽑아서
data2 를 만드시오.
그리고, 이름이 3글자가 아닌 학생들의 이름을 출력하시오.
```

In [2]:
data = [['홍길동',22,'서울'],
        ['장길산',35,'평양'],
        ['둘리',5,'우주'],
        ['신사임당',60,'강릉']]

In [6]:
for student in data:
    if len(student[0]) != 3:
        print(student[0])

둘리
신사임당

In [5]:
data2 = []

for student in data:
    if student[1]<30:
        data2.append(student)
        
print(data2)

[['홍길동', 22, '서울'], ['둘리', 5, '우주']]

In [8]:
' '*5 + '*'*5

'     *****'

In [9]:
data = [[1,2,3,4],
       [5,6,7,8],
       [9,10,11,12],
       [13,14,15,16]]

In [10]:
data

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [11]:
t = (1,2,'삼',4,'oh')
t

(1, 2, '삼', 4, 'oh')

In [12]:
type(t)

tuple

In [13]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [14]:
a = [3]
b = []

In [16]:
t = (3,)
t

(3,)

In [17]:
t = (1,2,3,4,5)

In [18]:
t[3] = 0

TypeError: 'tuple' object does not support item assignment

In [22]:
(a,b) = [1,2]

In [23]:
a

1

In [24]:
b

2

In [25]:
1,2

(1, 2)

In [26]:
a, b

(1, 2)

In [27]:
a = 1
b = 100

In [28]:
(a,b) = (b,a)

In [29]:
a,b

(100, 1)

In [30]:
{1,2,3,4,5}

{1, 2, 3, 4, 5}

In [31]:
{1,2,3,3,3,3,4,5}

{1, 2, 3, 4, 5}

In [32]:
a = [4,5,1,3,2,3,5]

In [33]:
a

[4, 5, 1, 3, 2, 3, 5]

In [36]:
list(set(a))

[1, 2, 3, 4, 5]

In [37]:
set([1,2,3,4,5,6,7,8,9,10]) - set([1,2,3,4,5,7,8,9,10,11])

{6}

In [38]:
s = {1,2,3}
s[0]

TypeError: 'set' object does not support indexing

In [39]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [40]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
A & B

{4, 5}

In [42]:
A - B

{1, 2, 3}

In [43]:
d = {'이름':'홍길동', '나이':22, '지역':'서울'}
d

{'나이': 22, '이름': '홍길동', '지역': '서울'}

In [44]:
d['이름']

'홍길동'

In [45]:
d['나이']

22

In [46]:
d['나이'] = 23
d

{'나이': 23, '이름': '홍길동', '지역': '서울'}

In [48]:
d['성별']='남'
d

{'나이': 23, '성별': '남', '이름': '홍길동', '지역': '서울'}

In [49]:
d

{'나이': 23, '성별': '남', '이름': '홍길동', '지역': '서울'}

In [51]:
list(d.keys())

['이름', '나이', '지역', '성별']

In [52]:
d.values()

dict_values(['홍길동', 23, '서울', '남'])

In [53]:
d.items()

dict_items([('이름', '홍길동'), ('나이', 23), ('지역', '서울'), ('성별', '남')])

In [54]:
l = [1,2,3]

for i in l:
    print(i)

1
2
3

In [56]:
for i in d:
    print(i, d[i])

이름 홍길동
나이 23
지역 서울
성별 남

In [57]:
for i in d.keys():
    print(i, d[i])

이름 홍길동
나이 23
지역 서울
성별 남

In [58]:
for i in d.values():
    print(i)

홍길동
23
서울
남

In [61]:
for k,v in d.items():
    print(k, '=>', v)

이름 => 홍길동
나이 => 23
지역 => 서울
성별 => 남

In [62]:
True, False

(True, False)

In [63]:
type(True)

bool

In [66]:
bool(10000)

True

In [67]:
True + 1

2

In [68]:
False * 10000000

0

In [73]:
n = 8

if n!=5:
    print('큰수')

큰수

In [71]:
n>5

True

In [75]:
0 in [1,2,3]

False

In [76]:
'a' in 'hello'

False

In [78]:
n = 11

(n>0) and (n<10) or (n!=5)

False

In [79]:
n = 11

(n>0) or (n<10)

True

In [80]:
not (n>0)

False

In [81]:
data = [['홍길동',22,'서울'], ['장길산',35,'평양'], ['둘리',5,'우주']]

In [82]:
data

[['홍길동', 22, '서울'], ['장길산', 35, '평양'], ['둘리', 5, '우주']]

In [ ]:
{'이름':'홍길동', '나이':22, '지역':'서울'}

In [86]:
data2 = {0: {'이름':'홍길동', '나이':22, '지역':'서울'},
         1: {'이름':'장길산', '나이':35, '지역':'평양'},
         2: {'이름':'둘리', '나이':5, '지역':'우주'}}

In [87]:
data2

{0: {'나이': 22, '이름': '홍길동', '지역': '서울'},
 1: {'나이': 35, '이름': '장길산', '지역': '평양'},
 2: {'나이': 5, '이름': '둘리', '지역': '우주'}}

In [89]:
data2[2]

{'나이': 5, '이름': '둘리', '지역': '우주'}

In [90]:
data2[2]['나이']

5

In [ ]:
data3 = {'이름': {0:'홍길동', 1:'장길산', 2:'둘리'},
         '나이': {0:22, 1:35, 2:5}}

In [91]:
n = 1

In [92]:
n*2

2

In [93]:
l = [1,2,3]

In [94]:
l + [4,5]

[1, 2, 3, 4, 5]

In [95]:
n = 1
n2 = n

In [96]:
n2 = 999

In [97]:
n, n2

(1, 999)

In [98]:
l = [1,2,3]
l2 = l

In [99]:
l2[0] = 999

In [100]:
l2

[999, 2, 3]

In [101]:
l

[999, 2, 3]

In [ ]:
l = [1,2,3]
m = [l,l,l]

In [102]:
l = [1,2,3]
m = l.copy()

In [103]:
m[0] = 999999

In [104]:
l

[1, 2, 3]

In [105]:
m = l[:]
m[0]=-777

In [106]:
l

[1, 2, 3]

In [108]:
l = []
m = [l,l,l]

In [110]:
a,(b,c) = (1,(2,3)) # a,b,c

In [111]:
(a,b,c)

(1, 2, 3)

In [112]:
1, 2, 3

(1, 2, 3)

In [113]:
a=b=c=99

In [114]:
c

99

In [115]:
l = [1,2,3]

In [116]:
l2 = l[1:]
l2

[2, 3]

In [117]:
l2[-1] = 999

In [118]:
l

[1, 2, 3]

In [ ]:
l2 = l[:]

In [120]:
n = 1

if n>0:
    #print('양수')
    pass
else:
    print('음수')

In [122]:
n = -3

n2 = 0
if n>=0:
    n2 = 1
else:
    n2 = -1
    
n2

-1

In [123]:
n = -3
n2 = 1 if n>=0 else -1
n2

-1

In [124]:
n = 0
while n<10:
    print(n)
    n= n+1

0
1
2
3
4
5
6
7
8
9

In [126]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [134]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [135]:
for i in range(3):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [3]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=',')
    print('')

2,4,6,8,10,12,14,16,18,
3,6,9,12,15,18,21,24,27,
4,8,12,16,20,24,28,32,36,
5,10,15,20,25,30,35,40,45,
6,12,18,24,30,36,42,48,54,
7,14,21,28,35,42,49,56,63,
8,16,24,32,40,48,56,64,72,
9,18,27,36,45,54,63,72,81,

In [4]:
구구단 = []

for i in range(2,10):
    l=[]
    for j in range(1,10):
        l.append(i*j)
        
    구구단.append(l)

구구단

[[2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [5]:
# [14,21,28,...,63] 리스트로 만드시오
칼럼 = []

for 한줄 in 구구단:
    칼럼.append(한줄[-3])

In [6]:
칼럼

[14, 21, 28, 35, 42, 49, 56, 63]

In [ ]:
l = [[1,2,3],[4,5,6],[7,8,9]]

for i in l:
    print(i[0],i[1],i[2])

In [ ]:
iterator
range(10)

In [10]:
d = {'a':1, 'b':2, 'c':3}
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [11]:
l = []
for i in range(10):
    l.append(i*2)
    
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
l = [i*2 for i in range(10)]
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
구구단 = [[i,j,i*j] for i in range(2,10) for j in range(1,10)]
구구단

[[2, 1, 2],
 [2, 2, 4],
 [2, 3, 6],
 [2, 4, 8],
 [2, 5, 10],
 [2, 6, 12],
 [2, 7, 14],
 [2, 8, 16],
 [2, 9, 18],
 [3, 1, 3],
 [3, 2, 6],
 [3, 3, 9],
 [3, 4, 12],
 [3, 5, 15],
 [3, 6, 18],
 [3, 7, 21],
 [3, 8, 24],
 [3, 9, 27],
 [4, 1, 4],
 [4, 2, 8],
 [4, 3, 12],
 [4, 4, 16],
 [4, 5, 20],
 [4, 6, 24],
 [4, 7, 28],
 [4, 8, 32],
 [4, 9, 36],
 [5, 1, 5],
 [5, 2, 10],
 [5, 3, 15],
 [5, 4, 20],
 [5, 5, 25],
 [5, 6, 30],
 [5, 7, 35],
 [5, 8, 40],
 [5, 9, 45],
 [6, 1, 6],
 [6, 2, 12],
 [6, 3, 18],
 [6, 4, 24],
 [6, 5, 30],
 [6, 6, 36],
 [6, 7, 42],
 [6, 8, 48],
 [6, 9, 54],
 [7, 1, 7],
 [7, 2, 14],
 [7, 3, 21],
 [7, 4, 28],
 [7, 5, 35],
 [7, 6, 42],
 [7, 7, 49],
 [7, 8, 56],
 [7, 9, 63],
 [8, 1, 8],
 [8, 2, 16],
 [8, 3, 24],
 [8, 4, 32],
 [8, 5, 40],
 [8, 6, 48],
 [8, 7, 56],
 [8, 8, 64],
 [8, 9, 72],
 [9, 1, 9],
 [9, 2, 18],
 [9, 3, 27],
 [9, 4, 36],
 [9, 5, 45],
 [9, 6, 54],
 [9, 7, 63],
 [9, 8, 72],
 [9, 9, 81]]

In [14]:
구구단 = [[단*j for j in range(1,10)] for 단 in range(2,10)]
구구단

[[2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [15]:
l = []

for i in range(10):
    if i%2 == 1:
        l.append(i)
l

[1, 3, 5, 7, 9]

In [16]:
l = [(1 if i%2==1 else -1) for i in range(10)]
l

[-1, 1, -1, 1, -1, 1, -1, 1, -1, 1]

In [19]:
def myadd(n1,n2):
    n = n1+n2
    return n

In [21]:
n = myadd(1,2)
print(n)

3

In [22]:
myadd('1', '2')

'12'

1. 함수는 만들지 않는다.
2. 너무 자주 똑같은 코드를 쓰더라
3. 함수를 꼭 인자로 넘겨야 하는 경우
4. 그렇다하더라도 다른방법이 없는지 고민!

In [23]:
f = lambda n1,n2: n1+n2

In [24]:
f(1,2)

3

In [25]:
f(999,-111)

888

In [26]:
f('a','bcd')

'abcd'

In [27]:
print(1,2,3,4,5,6,7)

1 2 3 4 5 6 7

In [28]:
def myadd(n1,n2=0):
    n = n1+n2
    return n

In [29]:
myadd(1,2)

3

In [30]:
myadd(99)

99

In [33]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [34]:
def f1(x):
    return dslfjsldfjsdlf+x

In [35]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [36]:
s = input()
print('***',s,'***')

I love you
*** I love you ***

In [38]:
n1 = input()
n2 = input()
print(int(n1)+int(n2))

1
2
3

### 7일차

### 연습문제 (20200714)
```
mat[i][j] 의 값이 i*j 가 되도록 리스트 mat를 만드시오.
- i 와 j 는 0~9 의 값을 가진다.
- 10분간
- 리스트 내포를 이용해서도 구해보세요.
- 5번째 열을 뽑아 리스트로 만들어 보세요.
```

In [1]:
mat = [[i*j for j in range(10)] for i in range(10)]
mat

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27],
 [0, 4, 8, 12, 16, 20, 24, 28, 32, 36],
 [0, 5, 10, 15, 20, 25, 30, 35, 40, 45],
 [0, 6, 12, 18, 24, 30, 36, 42, 48, 54],
 [0, 7, 14, 21, 28, 35, 42, 49, 56, 63],
 [0, 8, 16, 24, 32, 40, 48, 56, 64, 72],
 [0, 9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [2]:
mat = []

for i in range(10):
    l = []
    for j in range(10):
        l.append(i*j)
        
    mat.append(l)
    
mat

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27],
 [0, 4, 8, 12, 16, 20, 24, 28, 32, 36],
 [0, 5, 10, 15, 20, 25, 30, 35, 40, 45],
 [0, 6, 12, 18, 24, 30, 36, 42, 48, 54],
 [0, 7, 14, 21, 28, 35, 42, 49, 56, 63],
 [0, 8, 16, 24, 32, 40, 48, 56, 64, 72],
 [0, 9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [4]:
fifth = []
for 행 in mat:
    fifth.append(행[4])
    
fifth

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36]

In [6]:
fifth = [i[4] for i in mat]
fifth

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36]

In [7]:
f = open('안녕.txt')

In [8]:
f.read()

'안녕하세요\n반가워요~'

In [9]:
f.close()

In [10]:
f = open('안녕.txt')

In [11]:
f.readline()

'안녕하세요\n'

In [12]:
f.readline()

'반가워요~'

In [13]:
f.readline()

''

In [14]:
f.close()

In [15]:
with open('안녕.txt') as f:
    s = f.readline()
    print(s)
    
print('end!')

안녕하세요

end!

In [17]:
import os # 모듈 또는 라이브러리

In [19]:
os.getcwd()

'D:\\python13'

In [21]:
import math

In [22]:
math.sin(2)

0.9092974268256817

In [25]:
dir(os)

['DirEntry',
 'F_OK',
 'MutableMapping',
 'O_APPEND',
 'O_BINARY',
 'O_CREAT',
 'O_EXCL',
 'O_NOINHERIT',
 'O_RANDOM',
 'O_RDONLY',
 'O_RDWR',
 'O_SEQUENTIAL',
 'O_SHORT_LIVED',
 'O_TEMPORARY',
 'O_TEXT',
 'O_TRUNC',
 'O_WRONLY',
 'P_DETACH',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_OVERLAY',
 'P_WAIT',
 'PathLike',
 'R_OK',
 'SEEK_CUR',
 'SEEK_END',
 'SEEK_SET',
 'TMP_MAX',
 'W_OK',
 'X_OK',
 '_Environ',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_get_exports_list',
 '_putenv',
 '_unsetenv',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'altsep',
 'chdir',
 'chmod',
 'close',
 'closerange',
 'cpu_count',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'errno',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fdopen',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fsync',
 'ftruncate',
 'get_exec_path',
 'get_handle_inheritable',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getenv',
 'getlogin',
 'getpid',
 'getppid',
 'isatty',
 'kill',
 'linesep',
 'link',
 'listdir',
 'lseek',
 'lstat',
 'makedirs',
 'mkdir',
 'name',
 'open',
 'pardir',
 'path',
 'pathsep',
 'pipe',
 'popen',
 'putenv',
 'read',
 'readlink',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sep',
 'set_handle_inheritable',
 'set_inheritable',
 'spawnl',
 'spawnle',
 'spawnv',
 'spawnve',
 'st',
 'startfile',
 'stat',
 'stat_float_times',
 'stat_result',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sys',
 'system',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'umask',
 'uname_result',
 'unlink',
 'urandom',
 'utime',
 'waitpid',
 'walk',
 'write']

In [24]:
help(math.sin)

Help on built-in function sin in module math:

sin(...)
    sin(x)

    Return the sine of x (measured in radians).

### 텍스트파일(csv) 읽어오기
- username.csv
- https://support.staffbase.com/hc/en-us/articles/360007108391-CSV-File-Examples
- 2차원 형태의 리스트로 만드시오.

In [ ]:
for line in f:   
    if line != '\n':
        행=line.strip().split(';')
        mat.append(행)

In [31]:
f = open('username.csv')
l = []
f.readline()

for line in f:
    temp = line.strip().split(';')
    if len(temp)==4:
        temp[1] = int(temp[1])
        l.append(temp)

l[:-1]

[['booker12', 9012, 'Rachel', 'Booker'],
 ['grey07', 2070, 'Laura', 'Grey'],
 ['johnson81', 4081, 'Craig', 'Johnson'],
 ['jenkins46', 9346, 'Mary', 'Jenkins']]

### iris.csv 읽어오기

In [44]:
f = open('iris.csv')

s = f.readline()
header = s.strip().split(',')

labels = {'Iris-setosa' : 0, 'Iris-versicolor' : 1, 'Iris-virginica' : 2}
iris = []

for line in f:
    l = line.strip().split(',')
    l = [float(l[0]), float(l[1]), float(l[2]), float(l[3]), labels[l[4]]]
    iris.append(l)

f.close()

iris

[[5.1, 3.5, 1.4, 0.2, 0],
 [4.9, 3.0, 1.4, 0.2, 0],
 [4.7, 3.2, 1.3, 0.2, 0],
 [4.6, 3.1, 1.5, 0.2, 0],
 [5.0, 3.6, 1.4, 0.2, 0],
 [5.4, 3.9, 1.7, 0.4, 0],
 [4.6, 3.4, 1.4, 0.3, 0],
 [5.0, 3.4, 1.5, 0.2, 0],
 [4.4, 2.9, 1.4, 0.2, 0],
 [4.9, 3.1, 1.5, 0.1, 0],
 [5.4, 3.7, 1.5, 0.2, 0],
 [4.8, 3.4, 1.6, 0.2, 0],
 [4.8, 3.0, 1.4, 0.1, 0],
 [4.3, 3.0, 1.1, 0.1, 0],
 [5.8, 4.0, 1.2, 0.2, 0],
 [5.7, 4.4, 1.5, 0.4, 0],
 [5.4, 3.9, 1.3, 0.4, 0],
 [5.1, 3.5, 1.4, 0.3, 0],
 [5.7, 3.8, 1.7, 0.3, 0],
 [5.1, 3.8, 1.5, 0.3, 0],
 [5.4, 3.4, 1.7, 0.2, 0],
 [5.1, 3.7, 1.5, 0.4, 0],
 [4.6, 3.6, 1.0, 0.2, 0],
 [5.1, 3.3, 1.7, 0.5, 0],
 [4.8, 3.4, 1.9, 0.2, 0],
 [5.0, 3.0, 1.6, 0.2, 0],
 [5.0, 3.4, 1.6, 0.4, 0],
 [5.2, 3.5, 1.5, 0.2, 0],
 [5.2, 3.4, 1.4, 0.2, 0],
 [4.7, 3.2, 1.6, 0.2, 0],
 [4.8, 3.1, 1.6, 0.2, 0],
 [5.4, 3.4, 1.5, 0.4, 0],
 [5.2, 4.1, 1.5, 0.1, 0],
 [5.5, 4.2, 1.4, 0.2, 0],
 [4.9, 3.1, 1.5, 0.1, 0],
 [5.0, 3.2, 1.2, 0.2, 0],
 [5.5, 3.5, 1.3, 0.2, 0],
 [4.9, 3.1, 1.5, 0.1, 0],
 [4.4, 3.0, 1.3, 0.2, 0],
 [5.1, 3.4, 1.5, 0.2, 0],
 [5.0, 3.5, 1.3, 0.3, 0],
 [4.5, 2.3, 1.3, 0.3, 0],
 [4.4, 3.2, 1.3, 0.2, 0],
 [5.0, 3.5, 1.6, 0.6, 0],
 [5.1, 3.8, 1.9, 0.4, 0],
 [4.8, 3.0, 1.4, 0.3, 0],
 [5.1, 3.8, 1.6, 0.2, 0],
 [4.6, 3.2, 1.4, 0.2, 0],
 [5.3, 3.7, 1.5, 0.2, 0],
 [5.0, 3.3, 1.4, 0.2, 0],
 [7.0, 3.2, 4.7, 1.4, 1],
 [6.4, 3.2, 4.5, 1.5, 1],
 [6.9, 3.1, 4.9, 1.5, 1],
 [5.5, 2.3, 4.0, 1.3, 1],
 [6.5, 2.8, 4.6, 1.5, 1],
 [5.7, 2.8, 4.5, 1.3, 1],
 [6.3, 3.3, 4.7, 1.6, 1],
 [4.9, 2.4, 3.3, 1.0, 1],
 [6.6, 2.9, 4.6, 1.3, 1],
 [5.2, 2.7, 3.9, 1.4, 1],
 [5.0, 2.0, 3.5, 1.0, 1],
 [5.9, 3.0, 4.2, 1.5, 1],
 [6.0, 2.2, 4.0, 1.0, 1],
 [6.1, 2.9, 4.7, 1.4, 1],
 [5.6, 2.9, 3.6, 1.3, 1],
 [6.7, 3.1, 4.4, 1.4, 1],
 [5.6, 3.0, 4.5, 1.5, 1],
 [5.8, 2.7, 4.1, 1.0, 1],
 [6.2, 2.2, 4.5, 1.5, 1],
 [5.6, 2.5, 3.9, 1.1, 1],
 [5.9, 3.2, 4.8, 1.8, 1],
 [6.1, 2.8, 4.0, 1.3, 1],
 [6.3, 2.5, 4.9, 1.5, 1],
 [6.1, 2.8, 4.7, 1.2, 1],
 [6.4, 2.9, 4.3, 1.3, 1],
 [6.6, 3.0, 4.4, 1.4, 1],
 [6.8, 2.8, 4.8, 1.4, 1],
 [6.7, 3.0, 5.0, 1.7, 1],
 [6.0, 2.9, 4.5, 1.5, 1],
 [5.7, 2.6, 3.5, 1.0, 1],
 [5.5, 2.4, 3.8, 1.1, 1],
 [5.5, 2.4, 3.7, 1.0, 1],
 [5.8, 2.7, 3.9, 1.2, 1],
 [6.0, 2.7, 5.1, 1.6, 1],
 [5.4, 3.0, 4.5, 1.5, 1],
 [6.0, 3.4, 4.5, 1.6, 1],
 [6.7, 3.1, 4.7, 1.5, 1],
 [6.3, 2.3, 4.4, 1.3, 1],
 [5.6, 3.0, 4.1, 1.3, 1],
 [5.5, 2.5, 4.0, 1.3, 1],
 [5.5, 2.6, 4.4, 1.2, 1],
 [6.1, 3.0, 4.6, 1.4, 1],
 [5.8, 2.6, 4.0, 1.2, 1],
 [5.0, 2.3, 3.3, 1.0, 1],
 [5.6, 2.7, 4.2, 1.3, 1],
 [5.7, 3.0, 4.2, 1.2, 1],
 [5.7, 2.9, 4.2, 1.3, 1],
 [6.2, 2.9, 4.3, 1.3, 1],
 [5.1, 2.5, 3.0, 1.1, 1],
 [5.7, 2.8, 4.1, 1.3, 1],
 [6.3, 3.3, 6.0, 2.5, 2],
 [5.8, 2.7, 5.1, 1.9, 2],
 [7.1, 3.0, 5.9, 2.1, 2],
 [6.3, 2.9, 5.6, 1.8, 2],
 [6.5, 3.0, 5.8, 2.2, 2],
 [7.6, 3.0, 6.6, 2.1, 2],
 [4.9, 2.5, 4.5, 1.7, 2],
 [7.3, 2.9, 6.3, 1.8, 2],
 [6.7, 2.5, 5.8, 1.8, 2],
 [7.2, 3.6, 6.1, 2.5, 2],
 [6.5, 3.2, 5.1, 2.0, 2],
 [6.4, 2.7, 5.3, 1.9, 2],
 [6.8, 3.0, 5.5, 2.1, 2],
 [5.7, 2.5, 5.0, 2.0, 2],
 [5.8, 2.8, 5.1, 2.4, 2],
 [6.4, 3.2, 5.3, 2.3, 2],
 [6.5, 3.0, 5.5, 1.8, 2],
 [7.7, 3.8, 6.7, 2.2, 2],
 [7.7, 2.6, 6.9, 2.3, 2],
 [6.0, 2.2, 5.0, 1.5, 2],
 [6.9, 3.2, 5.7, 2.3, 2],
 [5.6, 2.8, 4.9, 2.0, 2],
 [7.7, 2.8, 6.7, 2.0, 2],
 [6.3, 2.7, 4.9, 1.8, 2],
 [6.7, 3.3, 5.7, 2.1, 2],
 [7.2, 3.2, 6.0, 1.8, 2],
 [6.2, 2.8, 4.8, 1.8, 2],
 [6.1, 3.0, 4.9, 1.8, 2],
 [6.4, 2.8, 5.6, 2.1, 2],
 [7.2, 3.0, 5.8, 1.6, 2],
 [7.4, 2.8, 6.1, 1.9, 2],
 [7.9, 3.8, 6.4, 2.0, 2],
 [6.4, 2.8, 5.6, 2.2, 2],
 [6.3, 2.8, 5.1, 1.5, 2],
 [6.1, 2.6, 5.6, 1.4, 2],
 [7.7, 3.0, 6.1, 2.3, 2],
 [6.3, 3.4, 5.6, 2.4, 2],
 [6.4, 3.1, 5.5, 1.8, 2],
 [6.0, 3.0, 4.8, 1.8, 2],
 [6.9, 3.1, 5.4, 2.1, 2],
 [6.7, 3.1, 5.6, 2.4, 2],
 [6.9, 3.1, 5.1, 2.3, 2],
 [5.8, 2.7, 5.1, 1.9, 2],
 [6.8, 3.2, 5.9, 2.3, 2],
 [6.7, 3.3, 5.7, 2.5, 2],
 [6.7, 3.0, 5.2, 2.3, 2],
 [6.3, 2.5, 5.0, 1.9, 2],
 [6.5, 3.0, 5.2, 2.0, 2],
 [6.2, 3.4, 5.4, 2.3, 2],
 [5.9, 3.0, 5.1, 1.8, 2]]

In [41]:
iris = []
spec = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

f = open('iris.csv')
s = f.readline()
header = s.strip().split(',')

for line in f:
    l = line.strip().split(',')
    l = [float(i) for i in l[:4]] + [float(spec.index(l[4]))]
    iris.append(l)
    
f.close()

iris

[[5.1, 3.5, 1.4, 0.2, 0.0],
 [4.9, 3.0, 1.4, 0.2, 0.0],
 [4.7, 3.2, 1.3, 0.2, 0.0],
 [4.6, 3.1, 1.5, 0.2, 0.0],
 [5.0, 3.6, 1.4, 0.2, 0.0],
 [5.4, 3.9, 1.7, 0.4, 0.0],
 [4.6, 3.4, 1.4, 0.3, 0.0],
 [5.0, 3.4, 1.5, 0.2, 0.0],
 [4.4, 2.9, 1.4, 0.2, 0.0],
 [4.9, 3.1, 1.5, 0.1, 0.0],
 [5.4, 3.7, 1.5, 0.2, 0.0],
 [4.8, 3.4, 1.6, 0.2, 0.0],
 [4.8, 3.0, 1.4, 0.1, 0.0],
 [4.3, 3.0, 1.1, 0.1, 0.0],
 [5.8, 4.0, 1.2, 0.2, 0.0],
 [5.7, 4.4, 1.5, 0.4, 0.0],
 [5.4, 3.9, 1.3, 0.4, 0.0],
 [5.1, 3.5, 1.4, 0.3, 0.0],
 [5.7, 3.8, 1.7, 0.3, 0.0],
 [5.1, 3.8, 1.5, 0.3, 0.0],
 [5.4, 3.4, 1.7, 0.2, 0.0],
 [5.1, 3.7, 1.5, 0.4, 0.0],
 [4.6, 3.6, 1.0, 0.2, 0.0],
 [5.1, 3.3, 1.7, 0.5, 0.0],
 [4.8, 3.4, 1.9, 0.2, 0.0],
 [5.0, 3.0, 1.6, 0.2, 0.0],
 [5.0, 3.4, 1.6, 0.4, 0.0],
 [5.2, 3.5, 1.5, 0.2, 0.0],
 [5.2, 3.4, 1.4, 0.2, 0.0],
 [4.7, 3.2, 1.6, 0.2, 0.0],
 [4.8, 3.1, 1.6, 0.2, 0.0],
 [5.4, 3.4, 1.5, 0.4, 0.0],
 [5.2, 4.1, 1.5, 0.1, 0.0],
 [5.5, 4.2, 1.4, 0.2, 0.0],
 [4.9, 3.1, 1.5, 0.1, 0.0],
 [5.0, 3.2, 1.2, 0.2, 0.0],
 [5.5, 3.5, 1.3, 0.2, 0.0],
 [4.9, 3.1, 1.5, 0.1, 0.0],
 [4.4, 3.0, 1.3, 0.2, 0.0],
 [5.1, 3.4, 1.5, 0.2, 0.0],
 [5.0, 3.5, 1.3, 0.3, 0.0],
 [4.5, 2.3, 1.3, 0.3, 0.0],
 [4.4, 3.2, 1.3, 0.2, 0.0],
 [5.0, 3.5, 1.6, 0.6, 0.0],
 [5.1, 3.8, 1.9, 0.4, 0.0],
 [4.8, 3.0, 1.4, 0.3, 0.0],
 [5.1, 3.8, 1.6, 0.2, 0.0],
 [4.6, 3.2, 1.4, 0.2, 0.0],
 [5.3, 3.7, 1.5, 0.2, 0.0],
 [5.0, 3.3, 1.4, 0.2, 0.0],
 [7.0, 3.2, 4.7, 1.4, 1.0],
 [6.4, 3.2, 4.5, 1.5, 1.0],
 [6.9, 3.1, 4.9, 1.5, 1.0],
 [5.5, 2.3, 4.0, 1.3, 1.0],
 [6.5, 2.8, 4.6, 1.5, 1.0],
 [5.7, 2.8, 4.5, 1.3, 1.0],
 [6.3, 3.3, 4.7, 1.6, 1.0],
 [4.9, 2.4, 3.3, 1.0, 1.0],
 [6.6, 2.9, 4.6, 1.3, 1.0],
 [5.2, 2.7, 3.9, 1.4, 1.0],
 [5.0, 2.0, 3.5, 1.0, 1.0],
 [5.9, 3.0, 4.2, 1.5, 1.0],
 [6.0, 2.2, 4.0, 1.0, 1.0],
 [6.1, 2.9, 4.7, 1.4, 1.0],
 [5.6, 2.9, 3.6, 1.3, 1.0],
 [6.7, 3.1, 4.4, 1.4, 1.0],
 [5.6, 3.0, 4.5, 1.5, 1.0],
 [5.8, 2.7, 4.1, 1.0, 1.0],
 [6.2, 2.2, 4.5, 1.5, 1.0],
 [5.6, 2.5, 3.9, 1.1, 1.0],
 [5.9, 3.2, 4.8, 1.8, 1.0],
 [6.1, 2.8, 4.0, 1.3, 1.0],
 [6.3, 2.5, 4.9, 1.5, 1.0],
 [6.1, 2.8, 4.7, 1.2, 1.0],
 [6.4, 2.9, 4.3, 1.3, 1.0],
 [6.6, 3.0, 4.4, 1.4, 1.0],
 [6.8, 2.8, 4.8, 1.4, 1.0],
 [6.7, 3.0, 5.0, 1.7, 1.0],
 [6.0, 2.9, 4.5, 1.5, 1.0],
 [5.7, 2.6, 3.5, 1.0, 1.0],
 [5.5, 2.4, 3.8, 1.1, 1.0],
 [5.5, 2.4, 3.7, 1.0, 1.0],
 [5.8, 2.7, 3.9, 1.2, 1.0],
 [6.0, 2.7, 5.1, 1.6, 1.0],
 [5.4, 3.0, 4.5, 1.5, 1.0],
 [6.0, 3.4, 4.5, 1.6, 1.0],
 [6.7, 3.1, 4.7, 1.5, 1.0],
 [6.3, 2.3, 4.4, 1.3, 1.0],
 [5.6, 3.0, 4.1, 1.3, 1.0],
 [5.5, 2.5, 4.0, 1.3, 1.0],
 [5.5, 2.6, 4.4, 1.2, 1.0],
 [6.1, 3.0, 4.6, 1.4, 1.0],
 [5.8, 2.6, 4.0, 1.2, 1.0],
 [5.0, 2.3, 3.3, 1.0, 1.0],
 [5.6, 2.7, 4.2, 1.3, 1.0],
 [5.7, 3.0, 4.2, 1.2, 1.0],
 [5.7, 2.9, 4.2, 1.3, 1.0],
 [6.2, 2.9, 4.3, 1.3, 1.0],
 [5.1, 2.5, 3.0, 1.1, 1.0],
 [5.7, 2.8, 4.1, 1.3, 1.0],
 [6.3, 3.3, 6.0, 2.5, 2.0],
 [5.8, 2.7, 5.1, 1.9, 2.0],
 [7.1, 3.0, 5.9, 2.1, 2.0],
 [6.3, 2.9, 5.6, 1.8, 2.0],
 [6.5, 3.0, 5.8, 2.2, 2.0],
 [7.6, 3.0, 6.6, 2.1, 2.0],
 [4.9, 2.5, 4.5, 1.7, 2.0],
 [7.3, 2.9, 6.3, 1.8, 2.0],
 [6.7, 2.5, 5.8, 1.8, 2.0],
 [7.2, 3.6, 6.1, 2.5, 2.0],
 [6.5, 3.2, 5.1, 2.0, 2.0],
 [6.4, 2.7, 5.3, 1.9, 2.0],
 [6.8, 3.0, 5.5, 2.1, 2.0],
 [5.7, 2.5, 5.0, 2.0, 2.0],
 [5.8, 2.8, 5.1, 2.4, 2.0],
 [6.4, 3.2, 5.3, 2.3, 2.0],
 [6.5, 3.0, 5.5, 1.8, 2.0],
 [7.7, 3.8, 6.7, 2.2, 2.0],
 [7.7, 2.6, 6.9, 2.3, 2.0],
 [6.0, 2.2, 5.0, 1.5, 2.0],
 [6.9, 3.2, 5.7, 2.3, 2.0],
 [5.6, 2.8, 4.9, 2.0, 2.0],
 [7.7, 2.8, 6.7, 2.0, 2.0],
 [6.3, 2.7, 4.9, 1.8, 2.0],
 [6.7, 3.3, 5.7, 2.1, 2.0],
 [7.2, 3.2, 6.0, 1.8, 2.0],
 [6.2, 2.8, 4.8, 1.8, 2.0],
 [6.1, 3.0, 4.9, 1.8, 2.0],
 [6.4, 2.8, 5.6, 2.1, 2.0],
 [7.2, 3.0, 5.8, 1.6, 2.0],
 [7.4, 2.8, 6.1, 1.9, 2.0],
 [7.9, 3.8, 6.4, 2.0, 2.0],
 [6.4, 2.8, 5.6, 2.2, 2.0],
 [6.3, 2.8, 5.1, 1.5, 2.0],
 [6.1, 2.6, 5.6, 1.4, 2.0],
 [7.7, 3.0, 6.1, 2.3, 2.0],
 [6.3, 3.4, 5.6, 2.4, 2.0],
 [6.4, 3.1, 5.5, 1.8, 2.0],
 [6.0, 3.0, 4.8, 1.8, 2.0],
 [6.9, 3.1, 5.4, 2.1, 2.0],
 [6.7, 3.1, 5.6, 2.4, 2.0],
 [6.9, 3.1, 5.1, 2.3, 2.0],
 [5.8, 2.7, 5.1, 1.9, 2.0],
 [6.8, 3.2, 5.9, 2.3, 2.0],
 [6.7, 3.3, 5.7, 2.5, 2.0],
 [6.7, 3.0, 5.2, 2.3, 2.0],
 [6.3, 2.5, 5.0, 1.9, 2.0],
 [6.5, 3.0, 5.2, 2.0, 2.0],
 [6.2, 3.4, 5.4, 2.3, 2.0],
 [5.9, 3.0, 5.1, 1.8, 2.0]]

In [37]:
header

['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name']

In [45]:
import os
os.getcwd()

'D:\\python13'

In [51]:
import math as m

In [52]:
m.log(1)

0.0

In [53]:
m.log(m.e)

1.0

In [57]:
from math import *

In [58]:
log(333)

5.808142489980444

In [59]:
e**2

7.3890560989306495

In [60]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']